<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/newBuddy}" th:object="${buddy}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Address: <input type="text" th:field="*{address}" /></p>
    <p>Phone Number: <input type="text" th:field="*{phoneNumber}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>

</html>